* {
    margin: 0;
    padding: 0;
}

:root {
    --marginTopSections: 25px;
}

body {
    width: 85vw;
    margin: 0 auto;
    /* background-color: mediumpurple; */
}


/* #region HEADER */

header {
    border: 2px solid #000;
    width: 100%;
    margin-top: var(--marginTopSections);
    border-radius: 20px;
    padding-bottom: 20px;
}

header * {
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin: 10px;
}

header h2 {
    font-size: 1.5em;
    margin-bottom: -75px;
}

header img {
    width: 100px;
    height: 100px;
    margin: 0 100px;
    border-radius: 10px;
}

header .images-chat {
    display: flex;
    justify-content: space-around;
}

/* #endregion */


/* #region MENU */

nav {
    border: 2px solid #000;
    width: 100%;
    margin-top: var(--marginTopSections);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

nav button {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    text-shadow: #000 1px 1px 1px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 50%;
    background-color: #ff000071;
    width: calc(20vw - 20px);
    height: calc(20vw - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button:nth-child(1) {
    background-image: url("../imgs/dessert.jpg");
    background-size: cover;
}

nav button:nth-child(2) {
    background-image: url("../imgs/cocktail.jpg");
    background-size: cover;
}

nav button:nth-child(3) {
    background-image: url("../imgs/cafe.jpg");
    background-size: cover;
}

nav button:nth-child(4) {
    background-image: url("../imgs/menu.jpg");
    background-size: cover;
}

/* #endregion */



/* #region IFRAME#contentIframe */

#contentIframe {
    border: 2px solid #000;
    border-radius: 20px;
    width: 100%;
    margin-top: var(--marginTopSections);
    height: 70vh;
}

/* #endregion */


/* #region FOOTER */

footer {
    border: 2px solid #000;
    width: 100%;
    margin-top: var(--marginTopSections);
    border-radius: 20px;
}

footer p {
    text-align: center;
    margin: 10px;
}

/* #endregion */